<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nueva orden</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/computronik-0.0.1-SNAPSHOT">Inicio</a>
                <ul class="nav navbar-nav">
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenShow'}">Lista de Órdenes</a></li>
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenAdd'}">Nueva Orden</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <title>HAMP</title>
            </div>
        </div>
        <div class="row text-center">
            <img src="../static/images/computronik.png" width="1000"
                 th:src="@{/images/computronik.png}"/>
        </div>
    </div>
    <h2>Nueva Orden</h2>
    <h3>Datos Cliente</h3>
    <div>
        <form class="form-horizontal" action="#" method="get">
            <input type="hidden" id="cliId" name="cliId" value="" />
            <div class="form-group">
                <label class="col-sm-2 control-label">Cedula:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cliCedula" name="cliCedula" placeholder="Número de cédula"  required="true"/>
                </div>
            </div>
            <div class="row">
                <input type="button" name="boton" value="Buscar" onclick="buscarTexto('ordenAdd/clienteShow.html','cliCedula')"/>
            </div>
        </form>
    </div>
</div>
<script th:src="@{javaScript/ordenAdd.js}"></script>
</body>
</html>