<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de detalles</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/computronik-0.0.1-SNAPSHOT">Inicio</a>
                <ul class="nav navbar-nav">
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenShow'}">Lista de Órdenes</a></li>
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenAdd'}">Nueva Orden</a></li>
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/detalleOrdenShow'}">Detalle de las órdenes</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <title>HAMP</title>
            </div>
        </div>
        <div class="row text-center">
            <img src="../static/images/computronik.png" width="1000"
                 th:src="@{images/computronik.png}"/>
        </div>
    </div>
    <h2>Lista de Detalle de órdenes</h2>
    <table class="table table-striped">
        <tr>
            <th>Número de detalle</th>
            <th>Número de orden</th>
            <th>Servicio</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="detalleOrden : ${detalleOrden}">
            <td th:text="${detalleOrden.detNumero}">Número de detalle</td>
            <td th:text="${detalleOrden.fkOrdNumero}">Número de orden</td>
            <div th:switch="${detalleOrden.fkServCodigo}">
                <td th:case="'1'">Diagnóstico</td>
                <td th:case="'2'">Mantenimiento</td>
                <td th:case="'3'">Otros</td>
            </div>
            <td ><a th:href="${'/computronik-0.0.1-SNAPSHOT/detalleOrden/delete/'+ detalleOrden.detNumero}">Eliminar</a></td>
        </tr>
    </table>
</div>
</body>
</html>