<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de órdenes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/computronik-0.0.1-SNAPSHOT">Inicio</a>
                <ul class="nav navbar-nav">
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenShow'}">Lista de Órdenes</a></li>
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenAdd'}">Nueva Orden</a></li>
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/detalleOrdenShow'}">Detalle de las órdenes</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <title>HAMP</title>
            </div>
        </div>
        <div class="row text-center">
            <img src="../static/images/computronik.png" width="1000"
                 th:src="@{images/computronik.png}"/>
        </div>
    </div>
    <h2>Lista de Órdenes</h2>
    <table class="table table-striped">
        <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th>Problema</th>
            <th>Diagnóstico</th>
            <th>Estado</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="orden : ${ordenes}">
            <td th:text="${orden.ordNumero}">Número de orden</td>
            <td th:text="${orden.ordFechaEmision}">Fecha</td>
            <td th:text="${orden.ordProblema}">Problema</td>
            <td th:text="${orden.ordDiagnostico}">Diagnóstico</td>
            <div th:switch="${orden.fkEstCodigo}">
                <td th:case="'1'">Ingresado</td>
                <td th:case="'2'">En reparación</td>
                <td th:case="'3'">Finalizado</td>
            </div>
            <td ><a th:href="${'/computronik-0.0.1-SNAPSHOT/orden/'+ orden.ordNumero}">Ver</a></td>
            <td ><a th:href="${'/computronik-0.0.1-SNAPSHOT/orden/edit/'+ orden.ordNumero}">Editar</a></td>
            <td ><a th:href="${'/computronik-0.0.1-SNAPSHOT/orden/delete/'+ orden.ordNumero}">Eliminar</a></td>
        </tr>
    </table>
</div>
</body>
</html>