<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nueva orden</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/computronik-0.0.1-SNAPSHOT">Inicio</a>
                <ul class="nav navbar-nav">
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenShow'}">Lista de Órdenes</a></li>
                    <li><a th:href="${'/computronik-0.0.1-SNAPSHOT/ordenAdd'}">Nueva Orden</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <title>HAMP</title>
            </div>
        </div>
        <div class="row text-center">
            <img src="../static/images/computronik.png" width="1000"
                 th:src="@{/images/computronik.png}"/>
        </div>
    </div>
    <h3>Datos Orden</h3>
    <div>
        <form class="form-horizontal" th:object="${orden}" method="post" th:action="@{/ordenAdd}">
            <input type="hidden" th:field="*{ordNumero}" id="txtordNum"/>
            <input type="hidden" th:field="*{fkCliId}" id="txtCliId"/>
            <script>
                (function getCliId() {
                    var loc = document.location.href;
                    var getString = loc.split('/');
                    if (getString[getString.length-2]=='edit'){
                        var ordNum=getString[getString.length-1];
                        var txtOrdNum = document.getElementById('txtOrdNum');
                        console.log(getString[getString.length-2]);
                        txtOrdNum.value=ordNum;
                    }else {
                        var cliId=getString[getString.length-1];
                        var txtcliId = document.getElementById('txtCliId');
                        console.log(cliId);
                        txtcliId.value=cliId;
                    }
                })();
            </script>
            <div class="form-group">
                <label class="col-sm-2 control-label">Cedula:</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" id="ordFecha" th:field="*{ordFechaEmision}" placeholder="Fecha"  required="true"/>
                </div>
                <label class="col-sm-2 control-label">Problema:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ordProblema" th:field="*{ordProblema}" placeholder="Problema"  required="true"/>
                </div>
                <label class="col-sm-2 control-label">Diagnóstico:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ordDiagnostico" th:field="*{ordDiagnostico}" placeholder="Diagnóstico"/>
                </div>
                <label class="col-sm-2 control-label">Empleado:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fkEmpId" th:field="*{fkEmpId}" required="true" placeholder="Código del empleado"/>
                </div>
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-10">
                    <select th:field="*{fkEstCodigo}">
                        <option th:each="estado: ${allEstados}" th:value="${estado.estCodigo}" th:text="${estado.estDescripcion}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>